<!-- Hero Component -->
<div class="hero" id="hero">
    <div class="hero-content">
        <h1>Olá, sou Itamar Ribeiro</h1>
        <p>Desenvolvedor Full Stack Sênior</p>
        <a href="#laboratory" class="btn-primary-creative">Laboratório</a>
    </div>
</div>

@code {
}
